# Banco de Dados
DB_HOST=seu_host
DB_PORT=seu_port
DB_NAME=seu_nome
DB_USER=seu_user
DB_PASSWORD=sua_senha

# Servidor
PORT=seu_port
NODE_ENV=development

#JWT
JWT_SECRET=seu_segredo_aqui_123456
JWT_EXPIRES_IN=tempo_aqui