* {
    margin: 0;
    padding: 0;
}

body {
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    margin: 0;
}

/* ------------ Header ------------ */

header {
    background-color: #004e64be;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1dvw;
    position: fixed;
    z-index: 2;
}

nav {
    display: flex;
    width: 70dvw;
    align-items: center;
}

.nav-content {
    height: 100%;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

/*Div da Logo*/

.nav-img {
    height: 100%;
    width: 29%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 1dvw;
}

/* Div para navegão */

.nav-navegacao {
    height: 100%;
    width: 69%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 4dvw;
}

.nav-navegacao p {
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: all 0.4s;
}

.nav-navegacao p:hover {
    color: #f7931e;
    border-bottom: 1px solid #f7931e;

}

/* Div da pesquisa */

.nav-pesquisa {
    height: 100%;
    width: 83%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.pesquisa {
    width: 60%;
    height: 4dvh;
    background-color: #f5f7fa;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.pesquisa input {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding-left: 3%;
    padding-right: 10%;
    border-radius: 10px;
    transition: all 0.09s;
}

.pesquisa input:focus {
    outline: #f7931e 1px solid;
}

.pesquisa img {
    width: 2.5dvh;
    position: absolute;
    margin-left: 16%;
}

/* Div do login */

.nav-login {
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-login a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1dvw;
}

.nav-login a p {
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: all 0.4s;
}

.nav-login a p:hover {
    color: #f7931e;
    border-bottom: 1px solid #f7931e;

}

/* ------------ Hero ------------ */

.hero-carousel {
    position: relative;
}

.hero-carousel-img {
    width: 100%;
    height: 100dvh;
}

.hero-carousel-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content-box {
    background-color: aquamarine;
    height: 50dvh;
    width: 40dvw;
}

/* ------------ Apresentação ------------ */

.apresentacao-section {
    width: 100%;
    height: 70dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5dvw;
    background-color: #ffffff;
}

.apresentacao-content {
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7dvh;
}

.apresentacao-title {
    font-size: 3.2rem;
}

.apresentacao-highlight {
    color: #f7931e;
}

.apresentacao-text {
    font-size: 1.3rem;
}

.apresentacao-btn {
    width: 50%;
    height: 10%;
    border-radius: 15px;
    border: none;
    background-color: #f7931e;
    color: #ffffff;
}

.apresentacao-carousel-wrapper {
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.apresentacao-carousel {
    width: 100%;
    height: 80%;
    border-radius: 15px;
}

.apresentacao-carousel-item {
    position: relative;
}

.apresentacao-carousel-img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.apresentacao-carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px
}

.apresentacao-carousel-card {
    background-color: #f4f4f4;
    height: 20dvh;
    width: 100%;
    border-radius: 0 0 20px 20px;
    padding: 1dvh;
}
