




.carrousel-sub-prod{
    display: flex;
align-items: center;
gap: 10px;
width: 100%;
max-width: 1100px;
margin: auto;
overflow: hidden;
}

.carousel-wrapper {
overflow: hidden;
width: 100%;
}


.carousel-track {
display: flex;
transition: transform 0.4s ease;
}


.card {
min-width: 250px;
height: 150px;
background: #e3e3e3;
border-radius: 10px;
margin-right: 10px;
display: flex;
justify-content: center;
align-items: center;
font-size: 18px;
font-weight: bold;
}